@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

// Layout
$mobile: 375px;
$desktop: 1440px;

// Colors
$primary: hsl(25, 97%, 53%);

// Neutral
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// Typography
$fontSize: 15px;

// Font
$fontFamily: "Overpass", sans-serif;
$fontWeightRegular: 400;
$fontWeightBold: 700;

// Base styles
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $mediumGrey;
  background-color: $veryDarkBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  // text-align: center;
}

// Feedback container styles
.feedback-container {
  background-color: $darkBlue;
  padding: 2em;
  border-radius: 1.5rem;
  max-width: 38vw;
}

.star-icon {
  width: 25px;
  height: 25px;
  background-color: hsla(0, 0%, 100%, 0.128);
  padding: 10px;
  border-radius: 50px;
}

.rating-header {
  h1,
  p {
    color: $white;
  }
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .rating-button {
    background-color: $lightGrey;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: $veryDarkBlue;
    font-weight: $fontWeightBold;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover,
    &:focus {
      background-color: lighten($primary, 10%);
      transform: scale(1.1);
    }

    &.active {
      background-color: $primary;
      color: $white;
      box-shadow: 0 0 10px $primary;
    }
  }
}

.submit-button {
  background-color: $primary;
  color: $white;
  border: none;
  padding: 1em 2em;
  border-radius: 20px;
  font-weight: $fontWeightBold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.attribution {
  margin-top: 12em;
  font-size: 11px;
  color: $lightGrey;

  a {
    color: $white;
  }
}

// Media queries for responsive design
@media (min-width: $desktop) {
  .feedback-container {
    max-width: 600px;
  }
}
